<html>
  <head>
    <meta charset="UTF-8">
    <title>RhinoPlayer</title>
    <link rel="stylesheet" href="vendor/icons/css/icons.css">
    <link rel="stylesheet" href="vendor/icons/css/animation.css">
    <link rel="stylesheet" href="player.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Mono&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/peerjs@0.3.20/dist/peer.min.js"></script>
    <script src="vendor/vue.js"></script>
    <script src="util.js"></script>
    <script src="network.js"></script>
    <script src="uwrap.js"></script>
  </head>
  <body>
    
    <div id="app" v-bind:class="{ fullscreen: ui.fullscreen }" v-on:click="showMenu('')" v-on:mouseup="stopDrag" v-on:mousemove="updateDrag">
      <!-- <div id="player-container"></div> -->
      <div class="hbox hmax">
        
        <div class="player-container hmax">
          <div id="player"></div>
          <div class="player-controls-bar">
            <div id="progress" v-on:mouseenter="ui.showPosition = true" v-on:mouseleave="ui.showPosition = false" v-on:mousemove.stop="updatePosition"
              v-on:mousedown="ui.dragMode = true">
              <div class="progress-back"></div>
              <div class="progress-buffer" v-bind:style="{ width: videoBuffered }" ></div>
              <div class="progress-position" v-bind:style="{ width: videoPosition }" ></div>
            </div>
            <div class="player-controls">
              <div id="play" class="flex-button">
                <div class="button" v-on:click="togglePlay"><i v-bind:class="stateIcon"></i></div>
              </div>
              <div id="time" class="flex-comp mono">{{humanTime(player.position)}}/{{humanTime(player.duration)}}</div>
              <div class="separator">
                <span class="mono" v-show="ui.showPosition||ui.dragMode">{{progressPosition}}</span>
                
              </div>
              <div class="volume-container flex-comp mono">
                <i v-bind:class="[volumeIcon]"></i>{{volumePadded}}
                <input type="range" min="0" max="100" v-model.number="local.volume">
              </div>
              <div id="settings" class="flex-button">
                <div v-on:click.stop="showMenu('settings')" class="button">
                  <i class="icon-cog"></i>
                </div>
                <div class="sub-menu" v-show="ui.toggles.settings">
                  
                  <div class="flex-button slim">
                    <div v-on:click.stop="showMenu('settings,speed')" class="button">
                      <i class="icon-stopwatch"></i>
                      x{{player.speed}}
                    </div>
                    <div class="sub-menu left" v-show="ui.toggles.speed">
                      <div class="flex-button slim" v-for="speed in local.speeds">
                        <div class="button" v-on:click.stop="setSpeed(speed)">x{{speed}}</div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="flex-button slim">
                    <div v-on:click.stop="showMenu('settings,quality')" class="button">
                      <i class="icon-video"></i>
                      {{videoQuality(player.quality)}}
                    </div>
                    <div class="sub-menu left" v-show="ui.toggles.quality">
                      Youtube embed API literally does not implement `setPlaybackQuality`, so it's impossible to externally set video quality. All hail Youtube for not implementing their own API.
                      <!-- <div class="flex-button slim" v-for="quality in local.qualities">
                        <div class="button" v-on:click.stop="setQuality(quality)">{{videoQuality(quality)}}</div>
                      </div> -->
                    </div>
                  </div>
                  
                </div>
              </div>
              <div id="fullscreen" class="flex-button">
                <div class="button" v-on:click="toggleFullscreen($event)">
                  <i v-bind:class="[ui.fullscreen ? 'icon-compress' : 'icon-expand']"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="vbox sidebar">
          <div class="header">Viewers</div>
          <div class="hbox user" v-bind:class="desyncCheck(user)" v-for="user in users">
            <span v-bind:title="user.id">
              <i v-show="user.conn" class="icon-signal"></i>
              <i v-if="user.host" class="i-middle icon-crown"></i>
              <i v-else-if="user.self" class="icon-user-circle"></i>
              {{user.name}}
              <i v-if="!user.self" v-bind:class="[getStateIcon(user.state)]"></i>
            </span>
            <template v-if="user.self">
              &nbsp;- You
            </template>
            <template v-else>
              <div>
                {{getTimeDiff(player.position, user.position)}}
                <i class="icon-attention desync-show"></i>
              </div>
              <div class="hbox grow-1">
                <div class="slim-button" @click="syncUser(user.position)" title="Sync self to user">
                  <i class="icon-arrows-cw"></i>
                </div>
                <!-- <div class="grow-1"></div>
                <div class="slim-button" v-if="!user.self" title="Kick user">
                  <i class="icon-cancel"></i>
                </div> -->
              </div>
            </template>
            <span></span>
          </div>
          <div class="header">Log</div>
          <div class="vbox grow-1 log-container">
            <template v-for="log in logs">
              <div v-if="log.type == 'info'">
                <i class="icon-cog"></i>{{log.message}}
              </div>
              <div v-else-if="log.type == 'message'">
                <i class="icon-comment"></i>{{log.message}}
              </div>
              <div v-else-if="log.type == 'video'">
                <i class="icon-video"></i>
                Started video:&nbsp;<a target="_blank" v-bind:href="log.url">{{log.message}} <span class="copy-paste-hidden">{{log.url}}</span></a>
              </div>
              <div v-else-if="log.type == 'image'">
                <i class='icon-picture'></i>
                Shown picture:&nbsp;<a target="_blank" v-bind:href="log.url">{{log.message}}</a>
              </div>
              <div v-else-if="log.type == 'error'">
                <i class='icon-attention-alt'></i>{{log.message}}
              </div>
            </template>
          </div>
          <!-- TODO: Chat -->
          <!-- <div class="hbox">
            <textarea></textarea>
            <div class="button">
              <i class="icon-comment"></i>
            </div>
          </div> -->
          <div class="hbox padded">
            <!-- TODO: Autosync -->
            <!-- <div class="slim-button" v-if="!net.host">
              <i class="icon-toggle-off" v-show="!local.autosync"></i>
              <i class="icon-toggle-on" v-show="local.autosync"></i>
              Autosync to host on desync.
            </div> -->
          </div>
          <div class="hbox padded">
            <div class="slim-button" title="Play video" v-on:click='showPopup(3)'>
              <i class="icon-video"></i>Play video
            </div>
            <!-- <div class="slim-button" title="Show image">
              <i class="icon-picture"></i>Show image
            </div> -->
          </div>
          <div class="hbox padded buttons">
            <!-- <div>Spent paused: {{humanTime(session.pausedTime)}}</div> -->
            <div class="slim-button" @click="exitRoom">Leave room</div>
            
            <div><a class="slim-button" target="_blank" href="https://github.com/Yanrishatum/RhinoPlayer/issues">Send feedback</a></div>
          </div>
        </div>
      </div>
      
      <div id="room_manager" class="popup" v-show="state == 0">
        <div class="vbox">
          <div class="header big">
            RhinoPlayer: Like Watch2gether, but objectively better for frequent pauses!
            <div class="sub">
              Fits all your rhino milking purposes.🥛
            </div>
          </div>
          <div class="text-input hbox">
            <span>Username:&nbsp;</span><input class="grow-1" v-model="net.name">
          </div>
          <div class="header">Room list</div>
          <div v-if="rooms == null"><i class="icon-spin animate-spin"></i> Fetching rooms...</div>
          <div v-else class="vbox box-padded even-odd" id="room_list">
            <div class="hbox" v-for="room in rooms">
              <span  v-bind:title="room.id">{{room.name}}</span>
              <div class="spacer"></div>
              <span v-show="room.meta">{{room.meta}}</span>
              <i class='icon-lock vpad' v-if='room.password_protected' title="This room is password-protected"></i>
              <!-- <span v-if='room.password_protected' style="font-size: 80%; padding-right: 5px;">&#x1f512;</span> -->
              <!-- {{room.users}}
              <i class='icon-user-circle'></i> -->
              <div class="slim-button background" tabindex="0" v-on:click="joinRoom(room)">Join</div>
            </div>
          </div>
          <div class="vbox box-padded">
            <div class="slim-button" v-on:click='showPopup(1)'>Host room</div>
          </div>
          <div class="header"></div>
          <div>
            <details>
              <summary>About</summary>
              <div class="info">
                  So, I was sick and rewatched EFAPs just to kill time, and I noticed a problem: apparently, amount of desyncs betweens users was pretty big. I guess caused by frequent pausing and network lag.
                  <br>
                  What did I do? I spent unreasonable amount of time doing that thing. Twice. Because once I made first version, I realized that if host will have to refresh page/close connection - entire session will collapse (EFAP where Mauler had lots of loadings happened). So I had to rewrite it to work in a p2p mesh. Also added simple php room handler.
                  <br>
                  May the Don be with you.
                  <br>
                  Features:
                  <ul>
                    <!-- <li>Track time spent paused</li> -->
                    <li>See other people video position</li>
                    <!-- <li>Show pictures to other people</li> -->
                    <!-- <li>A chat for no reason, as if anyone uses it.</li> -->
                    <li>Uses p2p networking to minimize sync overhead. Downside: State is lost if everyone left session. Also may have issues with aggressive NAT setups or adblock not liking WebRTC.</li>
                  </ul>
                  TODO:
                  <ul>
                    <li>Show images</li>
                    <li>UX improvements</li>
                    <li>Cross-reference mode (save video state while watching another one)</li>
                    <li>Chat capabilities</li>
                    <li>Track paused time</li>
                    <li>Rights manager (block users from pausing/seeking, loading videos, etc. Add kicking/ban, change room password)</li>
                    <li>Autosync features</li>
                  </ul>
                  <br>
                  Powered by Vue.js, Peer.js and broken Youtube Embed API.
                </div>
              </details>
              <div>
                By using this application, you agree that it will store data on your machine via browser storage API. <span class="sub">I'm obliged by law to say that.</span>
              </div>
              <div><a class="slim-button" target="_blank" href="https://github.com/Yanrishatum/RhinoPlayer/issues">Send feedback</a></div>
          </div>
        </div>
      </div>
      
      <div class="popup" id="sessionPopup" v-show="ui.popups.playVideo">
        <div class="vbox">
          <div class="header big hbox">
            {{popupLabel('header')}}
            <div class="spacer"></div>
            <div class="slim-button" v-on:click="ui.popups.playVideo = 0">
              <i class="icon-cancel"></i>
            </div>
          </div>
          <div class="hbox text-input" v-show="popupLabel('showSession')">
            <input class="grow-1" v-bind:placeholder="popupLabel('session')" id="sessionId" v-model="ui.sessionInput" @keyup="popupNext">
          </div>
          <div class="hbox text-input" v-show="popupLabel('showUrl')">
            <input class="grow-1" placeholder="Video URL" id="videoId" v-model="ui.videoInput" @keyup="popupNext">
          </div>
          <div class="hbox text-input" v-show="popupLabel('showPass')">
            <input class="grow-1" placeholder="Password" id="password" type="password" v-model="ui.passwordInput" @keyup="popupConfirm">
          </div>
          <div v-show="popupLabel('showPass')" style="color: red; font-size: 75%;">Passwords are transferred over network AS IS, don't use actual passwords, just do sane stuff like "12345", you've been warned.</div>
          <div v-show="ui.popups.playVideo == 1" class="hbox">
            <span>Rooms live for 24 hours since last activity.</span>
            <div class="spacer"></div>
            <div title="Room won't be listed, but still can be accessed via direct link"><input type="checkbox" id="privateCheck" v-model="ui.privateLobby"> <label for="privateCheck">Unlisted room</label></div>
          </div>
          <div class="slim-button" v-on:click="popupConfirm" tabindex="0">
            <i class="icon-video"></i>
            {{popupLabel('okButton')}}
          </div>
        </div>
      </div>
      
      <div class="error-panel" v-show="error != null">
        {{error}}
        <div>
          <div class="slim-button" v-on:click="error = null">
            <i class="icon-cancel"></i>
          </div>
        </div>
      </div>
    </div>
    
    <script src="player.js"></script>
  </body>
</html>